{% extends "base.html" %}
{% block title %}
{{ username }}' s friend list
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
    {% if len == 0 %}
        <br>
        <div class="my-title" style="color: var(--red)">You are not following anyone!</div>
    {% else %}
    <ul class="list-group" style="text-align: center;">
        {% for index in range(len) %}
        <li class="list-group-item"
            onclick="window.location.href='{{ url_for('profile_page', username=users[index].username) }}'">
            <div class="row">
                <div class="col-2">
                    <img src="{{ users[index].avatar(60) }}" class="img-fluid rounded-circle">
                </div>
                <div class="col-8">
                    <a>{{ users[index].username}}</a>
                    <br>
                    <small>Last seen: {{ users[index].last_seen.strftime('%d-%m-%Y') }}</small>
                </div>
                <div class="col-2" style="margin-top: auto; margin-bottom: auto;">
                    <medium>Elo:</medium> {{ elos[index] }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

</div>



{% endblock %}

{% block scripts %}
{% endblock %}