{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}

<div class="containerr">
    <div class="row">
        <div class="col-lg-8" style="margin-top: 30px;">
            <row class="text-center">
                <img src="{{ url_for('static', filename='images/error.png' ) }}" alt="Error">
                <span id="errors_icon" class="red"></span>
                <img src="{{ url_for('static', filename='images/hint.png') }}" alt="Hint">
                <span id="hints_icon" class="blue"></span>
            </row>
            <br>
            <br>
            <div class="chessboard">
                <div class="row">
                    <div id="a8"></div>
                    <div id="b8"></div>
                    <div id="c8"></div>
                    <div id="d8"></div>
                    <div id="e8"></div>
                    <div id="f8"></div>
                    <div id="g8"></div>
                    <div id="h8"></div>
                </div>
                <div class="row">
                    <div id="a7"></div>
                    <div id="b7"></div>
                    <div id="c7"></div>
                    <div id="d7"></div>
                    <div id="e7"></div>
                    <div id="f7"></div>
                    <div id="g7"></div>
                    <div id="h7"></div>
                </div>
                <div class="row">
                    <div id="a6"></div>
                    <div id="b6"></div>
                    <div id="c6"></div>
                    <div id="d6"></div>
                    <div id="e6"></div>
                    <div id="f6"></div>
                    <div id="g6"></div>
                    <div id="h6"></div>
                </div>
                <div class="row">
                    <div id="a5"></div>
                    <div id="b5"></div>
                    <div id="c5"></div>
                    <div id="d5"></div>
                    <div id="e5"></div>
                    <div id="f5"></div>
                    <div id="g5"></div>
                    <div id="h5"></div>
                </div>
                <div class="row">
                    <div id="a4"></div>
                    <div id="b4"></div>
                    <div id="c4"></div>
                    <div id="d4"></div>
                    <div id="e4"></div>
                    <div id="f4"></div>
                    <div id="g4"></div>
                    <div id="h4"></div>
                </div>
                <div class="row">
                    <div id="a3"></div>
                    <div id="b3"></div>
                    <div id="c3"></div>
                    <div id="d3"></div>
                    <div id="e3"></div>
                    <div id="f3"></div>
                    <div id="g3"></div>
                    <div id="h3"></div>
                </div>
                <div class="row">
                    <div id="a2"></div>
                    <div id="b2"></div>
                    <div id="c2"></div>
                    <div id="d2"></div>
                    <div id="e2"></div>
                    <div id="f2"></div>
                    <div id="g2"></div>
                    <div id="h2"></div>
                </div>
                <div class="row">
                    <div id="a1"></div>
                    <div id="b1"></div>
                    <div id="c1"></div>
                    <div id="d1"></div>
                    <div id="e1"></div>
                    <div id="f1"></div>
                    <div id="g1"></div>
                    <div id="h1"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-box">
            <!-- TODO controlla quale e' meglio -->
            <!-- <div class="col-lg-12 my-title"> -->
            <div class="my-title">
                {% if color == 'white' %}
                <img src="{{ url_for('static', filename='images/piece_set/alpha/K.png') }}" alt="White">
                {% else %}
                <img src="{{ url_for('static', filename='images/piece_set/alpha/k.png') }}" alt="Black">
                {% endif %}
                <br>
                Find the best move for {{ color }}
                <br>
                <br>
                {{ rating }} ELO
                <br>
                <br>
                <button id="hintButton" class="btn btn-outline-primary" style="font-size: 1.5rem;"
                    onclick="hint()">Hint</button>
                <br>
                <br>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.result(hidden=True, id="result") }}
                    {{ form.submit(class="btn btn-outline-primary", style="font-size: 1.5rem") }}
                </form>
                <br>
                <span id="text"></span>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    var piece_set = {{ piece_set| tojson }};
    var white_color = {{ white_color| tojson }};
    var black_color = {{ black_color| tojson }};
    var fenList = {{ fen_list| tojson }};
    var checkList = {{ check_list| tojson }};
    var rating = {{ rating| tojson }};
    var opening = {{ opening| tojson }};
    var themes = {{ themes| tojson }};
    var color = {{ color| tojson }};
    var delta_elo = {{ delta_elo| tojson }};
</script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}