{% extends 'base.html' %}
{% block title %}
Import Games
{% endblock %}

{% block content %}

<!-- two column where each column is a form -->
<div class="container" style="margin-top: 50px">
    <form method="POST" class="form-import" style="color:white" autocomplete="off" enctype="multipart/form-data">
        <!-- show a separator vertical between the three columns with dimensions -->
        <div class="row">
            <div class="col-md-6">
                {{ form.hidden_tag() }}
                {{ form.white.label() }}
                {{ form.white(class="form-control", placeholder="White Player") }}
                {% for error in form.white.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
                <br>
                {{ form.black.label() }}
                {{ form.black(class=" form-control", placeholder="Black Player" ) }}
                {% for error in form.black.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
                <br>
                {{ form.moves.label() }}
                {{ form.moves(class="form-control", placeholder="Moves") }}
                {% for error in form.moves.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
                <br>
                {{ form.color.label() }}
                {{ form.color(class="form-control", placeholder="Your color") }}
                {% for error in form.color.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
                <br>
                <br>
                {{ form.result.label() }}
                {{ form.result(class="form-control", placeholder="Result") }}
                {% for error in form.result.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
                <br>
                {{ form.date.label() }}
                {{ form.date(class="form-control", placeholder="Date") }}
                {% for error in form.date.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
                <br>
                {{ form.white_elo.label() }}
                {{ form.white_elo(class="form-control", placeholder="White Elo") }}
                {% for error in form.white_elo.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
                <br>
                {{ form.black_elo.label() }}
                {{ form.black_elo(class="form-control", placeholder="Black Elo") }}
                {% for error in form.black_elo.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
                <br>
            </div>
            <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;">
                or
            </div>
            <div class="col-md-3" style="display: flex; align-items: center; justify-content: center;">

                {{ form.file.label() }}
                <br>
                {{ form.file(placeholder="File") }}
                {% for error in form.file.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
                <br>
            </div>
        </div>
        <br>
        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
    </form>
</div>

{% endblock %}