{% extends 'base.html' %}
{% block title %}
Import Games
{% endblock %}

{% block content %}



<div class="container">
    <form method="POST" autocomplete="off" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-6 my-box">
                <div class="col-lg-12 my-form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.white.label(class="form-control-label") }}
                        {{ form.white(class="form-control") }}
                        {% for error in form.white.errors %}
                        <span class="red">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.black.label(class="form-control-label") }}
                        {{ form.black(class="form-control") }}
                        {% for error in form.black.errors %}
                        <span class="red">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.moves.label(class="form-control-label") }}
                        {{ form.moves(class="form-control") }}
                        {% for error in form.moves.errors %}
                        <span class="red">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.color.label(class="form-control-label") }}
                        {{ form.color(class="form-control") }}


                        {% for error in form.color.errors %}
                        <span class="red">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <!-- TODO aggiungi sta roba al posto del select field classico
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> -->

                    <div class="form-group">
                        {{ form.result.label(class="form-control-label") }}
                        {{ form.result(class="form-control") }}
                        {% for error in form.result.errors %}
                        <span class="red">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.date.label(class="form-control-label") }}
                        {{ form.date(class="form-control") }}
                        {% for error in form.date.errors %}
                        <span class="red">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.white_elo.label(class="form-control-label") }}
                        {{ form.white_elo(class="form-control") }}
                        {% for error in form.white_elo.errors %}
                        <span class="red">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.black_elo.label(class="form-control-label") }}
                        {{ form.black_elo(class="form-control") }}
                        {% for error in form.black_elo.errors %}
                        <span class="red">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-1 justify-content-center align-self-center">
                <h4 class="text-center">OR</h4>
            </div>

            <div class="col-lg-4 justify-content-center align-self-center">
                {{ form.file(class="form-control btn btn-outline-primary", style="font-size: 1.5rem") }}
                {% for error in form.file.errors %}
                <span class="red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="col-lg-12 my-btm my-button text-center">
            {{ form.submit(class="btn btn-outline-primary", style="font-size: 1.5rem") }}
        </div>
    </form>
</div>

{% endblock %}