{% extends 'base.html' %}
{% block title %}
{{ current_user.username }}'s preferences
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 my-box">
            <div class="col-lg-12">
                <form method="POST" autocomplete="off" onchange="changeSample()">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.about_me.label(class="form-control-label my-title") }}
                        {{ form.about_me(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.piece_set.label(class="form-control-label") }}
                                {{ form.piece_set(class="form-control") }}
                            </div>
                            <div class="col">
                                <label for="white-color-picker">Light Color</label>
                                <input type="color" id="white-color-picker" name="white_color" class="form-control"
                                    value="{{ white_color }}">
                            </div>
                            <div class="col">
                                <label for="black-color-picker">Dark Color</label>
                                <input type="color" id="black-color-picker" name="black_color" class="form-control"
                                    value="{{ black_color }}">
                            </div>
                        </div>
                    </div>
                    {{ form.submit(class="btn btn-outline-primary form-group", style="font-size: 1.5rem;") }}
                </form>
                <div class="my-container form-group">
                    <div class="row">
                        <div id="a0"></div>
                        <div id="b0"></div>
                        <div id="c0"></div>
                        <div id="d0"></div>
                        <div id="e0"></div>
                        <div id="f0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var piece_set = {{ piece_set| tojson }};
    var white_color = {{ white_color| tojson }};
    var black_color = {{ black_color| tojson }};
</script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/preference.js') }}"></script>
{% endblock %}