{% extends "base.html" %}
{% block title %}
{{ user.username }}'s profile
{% endblock %}

{% block content %}
<!-- name and image -->
<table>
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h1>{{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen.strftime('%d-%m-%Y %H:%M') }}</p>{% endif %}
        </td>
    </tr>
    {% if current_user.is_authenticated %}

    <!-- if I am in my profile -->
    {% if current_user.username == user.username %}

    <tr>
        <td> <a href="{{ url_for('friend_page', username=user.username) }}">Friends</a></td>
    </tr>
    <tr>
        <td><a href="{{ url_for('preference_page', username=user.username) }}">Preferences</a></td>
    </tr>
    {% else %}

    {% if not is_friend %}
    <tr>
        <td>
            <a href="{{ url_for('add_friend_page', username=user.username) }}">Add friend</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td>
            <a href="{{ url_for('remove_friend_page', username=user.username) }}">Remove friend</a>
        </td>
    </tr>
    {% endif %}

    {% endif %}

    {% endif %}
</table>

<table class=" table table-striped" style="color: white">
    <thead>
        <tr>
            <th scope="col">White</th>
            <th scope="col">Black</th>
            <th scope="col">Result</th>
            <th scope="col">Date</th>
            <th scope="col">White Elo</th>
            <th scope="col">Black Elo</th>
            <th scope="col">Game</th>
            {% if current_user.is_authenticated %}
            {% if current_user.username == username %}
            <th scope="col">Delete</th>
            {% endif %}
            {% endif %}
        </tr>
    </thead>
    {% for game in games %}
    <tbody>
        <tr>
            <td>{{ game.white }}</td>
            <td>{{ game.black }}</td>

            {% if game.color %}
            {% if game.result == game.color %}
            <td>Win</td>
            {% elif game.result == 0 %}
            <td>Draw</td>
            {% else %}
            <td>Lose</td>
            {% endif %}
            {% else %}
            <td>Unknown</td>
            {% endif %}

            {% if game.date %}
            <td>{{ game.date.strftime('%d-%m-%Y') }}</td>
            {% else %}
            <td>Unknown</td>
            {% endif %}
            {% if game.white_elo %}
            <td>{{ game.white_elo }}</td>
            {% else %}
            <td>Unknown</td>
            {% endif %}
            {% if game.black_elo %}
            <td>{{ game.black_elo }}</td>
            {% else %}
            <td>Unknown</td>
            {% endif %}
            <td><a href="{{ url_for('game_page', id=game.id) }}">View</a></td>
            {% if current_user.is_authenticated %}
            {% if current_user.username == username %}
            <td>
                <form action="{{ url_for('remove_game_page', id=game.id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            {% endif %}
            {% endif %}
        </tr>
    </tbody>

    {% endfor %}
</table>


{% endblock %}