{% extends "base.html" %}
{% block title %}
Search
{% endblock %}

{% block content %}

<body class="text-center">
    <div class="container" style="margin-top: 50px">
        <form method="POST" class="form-search" style="color:white" autocomplete="off">
            {{ form.hidden_tag() }}
            {{ form.search(class="form-control", placeholder="Search by username or email") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
        </form>
    </div>
    {% if users %}
    <!-- for each user print his name that links to his profile and his avatar -->
    <div class="container" style="margin-top: 50px">
        <ul class="list-group">
            {% for user in users %}
            <li class="list-group-item">
                <img src="{{ user.avatar(60) }}" class="img-rounded">
                <a href="{{ url_for('profile_page', username=user.username) }}">{{ user.username }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</body>
{% endblock %}