{% extends "base.html" %}
{% block title %}
Search
{% endblock %}

{% block content %}

<div class="container">
    <form method="POST" autocomplete="off">
        <div class="my-box my-form">
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.search(class="form-control", placeholder="Search by username or email",
                style="border-bottom: 0px; padding: 5px; text-align: center; margin-top: 10px; font-size: 1.5rem;") }}
            </div>
        </div>
        <div class="form-group text-center">
            {{ form.submit(class="btn btn-outline-primary", style="font-size: 1.5rem;") }}
        </div>
    </form>
    {% if users %}
    <ul class="list-group" style="text-align: center;">
        {% for index in range(len) %}
        <li class="list-group-item"
            onclick="window.location.href='{{ url_for('profile_page', username=users[index].username) }}'">
            <div class="row">
                <div class="col-2">
                    <img src="{{ users[index].avatar(60) }}" class="img-fluid rounded-circle">
                </div>
                <div class="col-7">
                    <a>{{ users[index].username}}</a>
                    <br>
                    <small>Last seen: {{ users[index].last_seen.strftime('%d-%m-%Y') }}</small>
                </div>
                <div class="col-3" style="margin-top: auto; margin-bottom: auto;">
                    <medium>Elo:</medium> {{ elos[index] }}
                </div>
            </div>
        </li>

        {% endfor %}
    </ul>
    <!-- <ul class="list-group my-box">
        {% for index in range(len) %}
        <a href="{{ url_for('profile_page', username=users[index].username) }}"
            class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <img src="{{ users[index].avatar(60) }}" class="img-rounded">
                <h5 class="mb-1">{{ users[index].username }}</h5>
                <small>Last seen: {{ users[index].last_seen.strftime('%d-%m-%Y') }}</small>
                <small>Elo: {{ elos[index] }}</small>
            </div>
        </a>
        {% endfor %}
    </ul> -->


    {% endif %}
</div>

{% endblock %}

{% block scripts %}
{% endblock %}