body {
    background-color: #212529;
    color: white;
}

.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* the elements in containerr display vertically */
    flex-direction: column;
    /* all the elements distanciate 50px */
    gap: 30px;
}

.chessboard {
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

.chessboard>.row,
.containerr>.row {
    height: 64px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.cell {
    width: 64px;
    height: 64px;
    background-color: var(--white-color);
    box-sizing: border-box;
}

.cell.black {
    background-color: var(--black-color);
}

.cell.selected {
    background-color: #00ff00;
}

.cell.checked {
    background-color: #ff0000;
}

.player-name {
    width: 100%;
    text-align: center;
}

.player-name:first-child {
    margin-top: auto;
}

.player-name:last-child {
    margin-bottom: auto;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 100%;
    height: 2em;
    background: transparent;
    padding: 0;
    margin: 0;
}