body {
    background-color: var(--bg);
    color: var(--fg);
}

.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.chessboard {
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

.chessboard>.row,
.containerr>.row {
    height: 64px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.cell {
    width: 64px;
    height: 64px;
    background-color: var(--white-color);
    box-sizing: border-box;
}

.cell.black {
    background-color: var(--black-color);
}

.cell.selected {
    background-color: var(--green);
}

.cell.checked {
    background-color: var(--red);
}

.player-name {
    width: 100%;
    text-align: center;
}

.player-name:first-child {
    margin-top: auto;
}

.player-name:last-child {
    margin-bottom: auto;
}

input[type="color"] {
    border: none;
    width: 100%;
    height: 2em;
    background: transparent;
    padding: 0;
    margin: 0;
}

.my-nav {
    background-color: var(--bg_h);
}

.my-nav a {
    color: var(--fg);
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--orange);
}

.my-box {
    margin-top: 75px;
    height: auto;
    background: var(--bg_h);
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.my-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: var(--fg);
}

.my-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: var(--bg_h);
    border: none;
    border-bottom: 2px solid var(--blue);
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: var(--fg);
}

input[type=password] {
    background-color: var(--bg_h);
    border: none;
    border-bottom: 2px solid var(--blue);
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: var(--fg);
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid var(--blue);
    outline: 0;
    background-color: var(--bg_h);
    color: var(--fg);
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid var(--orange);
    outline: 0;
    background-color: var(--bg_h);
    color: var(--fg);
}

.my-checkbox {
    appearance: none;
    background-color: var(--bg_h);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--fg);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.my-checkbox:checked {
    background-color: var(--orange);
    border-color: var(--orange);
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.my-form option {
    color: var(--orange);
}

input[type=file] {
    border-bottom: 1px solid;
}

input[type=file]::file-selector-button {
    display: none;
}

.btn-outline-primary {
    border-color: var(--blue);
    color: var(--blue);
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: var(--orange);
    border-color: var(--orange);
    color: var(--fg);
}

.my-btm {
    float: left;
}

.my-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.my-text {
    text-align: left;
    padding-left: 0px;
    color: var(--fg);
}

.mybttm {
    padding: 0px;
}